run = "npm run dev"
modules = ["nodejs-16"]
hidden = [".config", "package-lock.json"]
entrypoint = "index.html"

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3003
externalPort = 4200

[[ports]]
localPort = 5173

[[ports]]
localPort = 7000
externalPort = 3003

[[ports]]
localPort = 8000
externalPort = 8000
